[Desktop Entry]
Name=MATE Color Selection
Name[am]=ሜት የ ቀለም መምረጫ
Name[ar]=تحديد لون متّة
Name[be]=Выбар колеру MATE
Name[bg]=Избор на цвят от MATE
Name[br]=Diuzadur livioù MATE
Name[ca]=Selecció de color de MATE
Name[ca@valencia]=Selecció de color del MATE
Name[cs]=MATE výběr barev
Name[cy]=Dewisydd lliwiau MATE
Name[da]=MATE-farvevalg
Name[de]=MATE-Farbauswahl
Name[el]=Επιλογή χρωμάτων MATE
Name[en_AU]=MATE Colour Selection
Name[en_GB]=MATE Colour Selection
Name[es]=Selección de color de MATE
Name[es_CO]=Selección de color de MATE
Name[et]=MATE värvuse valimine
Name[eu]=MATE kolore-hautapena
Name[fr]=Sélection de couleur MATE
Name[gl]=Selección de cor de MATE
Name[hr]=Odabir boje MATE-a
Name[hu]=MATE Szín választás
Name[hy]=MATE Գույնի Ընտրություն
Name[id]=Seleksi Warna MATE
Name[is]=Litaval MATE
Name[it]=Selezione colore di MATE
Name[ja]=MATE色選択
Name[ko]=마테 색상 선택
Name[lt]=MATE spalvų pasirinkimas
Name[ms]=Pemilihan Warna MATE
Name[nb]=MATE fargevelger
Name[nl]=MATE kleur selectie
Name[pl]=Wybór kolorów MATE
Name[pt]=Seleção de Cor MATE
Name[pt_BR]=Seleção de cores do MATE
Name[ro]=Selecție culoare MATE
Name[ru]=Выбор цвета MATE
Name[sk]=Výber farieb MATE
Name[sl]=Izbor barve MATE
Name[sr]=Мејтов избор боје
Name[sv]=MATE färgval
Name[tr]=MATE Renk Seçimi
Name[uk]=Вибір кольору
Name[uz]=MATE Rang Tanlovi
Name[zh_CN]=MATE 颜色选择
Name[zh_TW]=MATE 顏色選擇區
GenericName=Color selection dialog
GenericName[am]=የ ቀለም ምርጫ ንግግር
GenericName[ar]=إطار اختيار اللون
GenericName[be]=Акенца выбару колера
GenericName[bg]=Прозорец за избор на цвят
GenericName[br]=Boestad emziviz diuzadur al livioù
GenericName[ca]=Diàleg de selecció de color
GenericName[ca@valencia]=Diàleg de selecció de color
GenericName[cs]=Dialog pro výběr barev
GenericName[da]=Dialog for farvevalg
GenericName[de]=MATE-Auswahldialog
GenericName[el]=Διάλογος επιλογής χρώματος
GenericName[en_AU]=Colour selection dialogue
GenericName[en_GB]=Colour selection dialogue
GenericName[eo]=Kolorelektila dialogujo
GenericName[es]=Diálogo de la selección de color.
GenericName[es_CO]=Dialogo de selección de color
GenericName[et]=Värvuse valimise dialoog
GenericName[eu]=Kolore-hautapen elkarrizketa-koadroa
GenericName[fi]=Värinvalintaikkuna
GenericName[fr]=Dialogue de sélection de couleur
GenericName[gl]=Diálogo de selección de cor
GenericName[hr]=Dijaloški okvir odabira boje
GenericName[hu]=Szín párbeszédablak
GenericName[hy]=Ընտրված երկխոսության գույնը
GenericName[id]=Dialog pemilihan warna
GenericName[is]=Litavalsgluggi
GenericName[it]=Dialogo di selezione colore
GenericName[ja]=色選択ダイアログ
GenericName[jv]=Janela pilihan werna
GenericName[ko]=색상 선택 대화 상자
GenericName[lt]=Spalvos pasirinkimo langas
GenericName[ms]=Dialog pemilihan warna
GenericName[nb]=Fargevalgsdialog
GenericName[nl]=Kleur selectie dialoog
GenericName[pl]=Okno dialogowe wyboru kolorów
GenericName[pt]=Diálogo de seleção de cor
GenericName[pt_BR]=Caixa de diálogo de seleção de cores
GenericName[ro]=Dialog de selectare a culorii
GenericName[ru]=Диалог выбора цвета
GenericName[sk]=Dialógové okno výberu farby
GenericName[sl]=Pogovorno okno izbora barve
GenericName[sr]=Прозорче за избор боје
GenericName[sv]=Dialogruta för färgval
GenericName[tr]=Renk seçim diyaloğu
GenericName[uk]=Діялоґ вибору кольору
GenericName[uz]=Rang tanlash dialogi
GenericName[zh_CN]=颜色选择对话框
GenericName[zh_TW]=顏色選擇區對話盒
Comment=Choose colors from the palette or the screen
Comment[am]=ቀለም ይምረጡ ከ መደርደሪያው ወይንም መመልከቻው ላይ
Comment[ar]=إختر لونا من لوحة أو شاشة اﻷلوان
Comment[be]=Абярыце колер з палітры ці экрана
Comment[bg]=Изберете цветове от палитрата на екрана
Comment[br]=Dibab livioù diwar al livaoueg pe ar skramm
Comment[ca]=Seleccioneu els colors de la paleta o de la pantalla
Comment[ca@valencia]=Seleccioneu els colors de la paleta o de la pantalla
Comment[cs]=Vyberte si barvy z palety, nebo na obrazovce
Comment[da]=Vælg farver fra paletten eller skærmen
Comment[de]=Farben aus der Palette oder dem Bildschirm auswählen
Comment[el]=Επιλογή χρωμάτων από παλέτα ή την οθόνη
Comment[en_AU]=Choose colours from the palette or the screen
Comment[en_GB]=Choose colours from the palette or the screen
Comment[es]=Elija los colores de la paleta o la pantalla
Comment[es_CO]=Escoja colores de la paleta en pantalla
Comment[et]=Värvuste valimine ekraanil asuvast paletist
Comment[eu]=Aukeratu koloreak paleta edo pantailatik
Comment[fr]=Choisir les couleurs dans la palette ou à l'écran
Comment[gl]=Escolla cores da paleta ou da pantalla
Comment[hr]=Odaberi boje iz palete ili zaslona
Comment[hu]=Válassza ki a színt a palettáról, vagy a képernyőről
Comment[hy]=Ընտրեք գույները ներկապնակից կամ էկրանից
Comment[id]=Pilih warna dari palet atau layar
Comment[is]=Veldu liti af litaspjaldinu eða skjánum
Comment[it]=Seleziona i colori dalla tavolozza o dallo schermo
Comment[ja]=パレットあるいはスクリーンから色を選択します
Comment[ko]=팔레트 또는 화면에서 색상을 선택합니다
Comment[lt]=Pasirinkti spalvas iš paletės, arba iš ekrano
Comment[ms]=Pilih warna dari palet atau skrin
Comment[nb]=Velg farger fra paletten på skjermen
Comment[nl]=Kies kleuren van het palet of het scherm
Comment[pl]=Wybór kolorów z palety lub ekranu
Comment[pt]=Escolher cores da paleta ou do ecrã
Comment[pt_BR]=Escolha cores da paleta ou da tela
Comment[ro]=Alegeți culori din paleta de pe ecran
Comment[ru]=Выберите цвет из палитры цветов или с экрана
Comment[sk]=Vyberte farby z palety, alebo obrazovky
Comment[sl]=Izberite barve s palete ali zaslona
Comment[sr]=Изаберите боје са палете или са екрана
Comment[sv]=Välj färger från paletten eller från skärmen
Comment[tr]=Paletten ya da ekrandan renkleri seçin
Comment[uk]=Виберіть колір із палітри або з екрану
Comment[zh_CN]=在调色板或屏幕上选取颜色
Comment[zh_TW]=從調色板或螢幕上選擇顏色
Exec=mate-color-select
Icon=gtk-select-color
Terminal=false
Type=Application
Categories=GTK;Graphics;
Keywords=MATE;color;chooser;pick;palette;screen;selection;
OnlyShowIn=MATE;
StartupNotify=false
